In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import nltk
%matplotlib inline

In [2]:
# Read the raw text files
austenRaw = open('data/austen.txt').read().lower()
melvilleRaw = open('data/melville.txt').read().lower()

In [3]:
austenRaw[:10] + melvilleRaw[:10]

'\xef\xbb\xbf\r\npride\r\n\r\n\r\nmoby'

In [5]:
meltokens = nltk.tokenize.word_tokenize(melvilleRaw)
austokens = nltk.tokenize.word_tokenize(austenRaw)

In [6]:
def pieces(text, length, num): 
    out = [] 
    for x in range(num): 
        out.append(text[length*x:length*(x+1)])
    return out

#mel_pieces = [text1[:1000], text1[1001:2000, text1[2001:3000], text1[3001:4000]]

melpieces = pieces(meltokens, 1000, 4)
auspieces = pieces(austokens, 1000, 4)

In [9]:
def freqdists(pieceslist): 
    dists=[]
    for piece in pieceslist: 
        dists.append(nltk.FreqDist(piece).most_common())
    return dists

meldists = freqdists(melpieces)
ausdists = freqdists(auspieces)

In [30]:
test_a = meldists[0]
test_a

[(',', 76),
 ('.', 56),
 ('the', 42),
 ('and', 30),
 ('of', 23),
 ('to', 19),
 ("''", 16),
 ('--', 15),
 ('a', 15),
 ('in', 14)]

In [31]:
test_b = ausdists[0]
test_b

[(',', 53),
 ('.', 42),
 ('``', 32),
 ("''", 32),
 ('you', 30),
 ('of', 27),
 ('to', 21),
 ('a', 20),
 ('i', 17),
 ('the', 17)]

In [21]:
df_a = pd.DataFrame(test_a)
df_b = pd.DataFrame(test_b)

In [25]:
df_a

     0   1
0    ,  76
1    .  56
2  the  42
3  and  30
4   of  23
5   to  19
6   ''  16
7   --  15
8    a  15
9   in  14

[10 rows x 2 columns]

In [29]:
pd.merge(df_a, df_b, how='outer', on=0)

      0  1_x  1_y
0     ,   76   53
1     .   56   42
2   the   42   17
3   and   30  NaN
4    of   23   27
5    to   19   21
6    ''   16   32
7    --   15  NaN
8     a   15   20
9    in   14  NaN
10   ``  NaN   32
11  you  NaN   30
12    i  NaN   17

[13 rows x 3 columns]